Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.suo
*.pyc
*.ini
todolist.txt

reminderlist.txt

*.bak
Python/*
Python_Win/*
Python_Linux/*
Output/*
Aiml/*
External/*
Db/temp/*
Db/*
Db\*
temp/*
*.bat
*.db
unins000.dat