psutil
globalsub
flask
flask_login
flask_cors

requests
nltk
slackclient==1.3.2
python-pptx==0.6.18
scikit-learn
psutil
Flask>=3.1.3
Flask-Login>=0.6.3
Flask-Cors==3.0.10
python-telegram-bot==13.7
urllib3==1.26.15
python-dotenv
openai
schedule
playsound==1.2.2
gtts
bs4


